@use '../helpers/' as *;

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    //border-bottom: 1px solid #f00;

    &_inner {
        width: 90%;
        max-width: 1500px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    &_text {
        font-size: 100px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ecceae;
        flex-grow: 1;

        p {
            overflow: hidden;
            padding: 1vw 2vw;
            font-family: 'SF_HambakSnow';

            span {
                display: block;
                //transform: translateY(100%);
            }
        }
    }
    &_img {
        flex-grow: 1;

        width: 50%;
        img {
            //box-shadow: 1px 5px 10px rgba($color: #000000, $alpha: 0.3);
            width: 100%;
        }
    }
}
