@use '../helpers/' as *;

.recommend {
    margin-top: 5vw;
    position: relative;
    overflow: hidden;

    &_tit {
        text-align: center;

        h2 {
            font-size: 3vw;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            letter-spacing: 1px;
            color: #eee;
            margin-bottom: 1.5vw;

            span {
                //font-weight: 00;
                color: #03ffa2;
                display: inline-block;
                position: relative;
                z-index: 0;

                &::before {
                    content: '';
                    width: 105%;
                    aspect-ratio: 10/3;
                    z-index: -1;
                    display: block;
                    border: 2px solid #03ffa2;
                    border-radius: 50%;
                    transform: skew(-40deg) rotate(-5deg) translate(-50%, -50%);
                    position: absolute;
                    left: 40%;
                    top: 35%;
                }
            }
        }

        p {
            color: #dfdfdf;
            font-family: 'Bebas Neue', sans-serif;
        }
    }

    &_inner {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 35vw;
        position: relative;

        .pin-spacer {
            z-index: 1 !important;
        }
    }

    .books {
        position: absolute;
        left: 50%;
        top: 3vw;
        transform: translateX(-50%);
        z-index: -1;
    }

    .book_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        width: 200vw;
        aspect-ratio: 1/1;
        z-index: 0;

        li {
            width: 15vw;
            aspect-ratio: 23/32;
            border-radius: 15px;
            overflow: hidden;
            transition: all 0.3s;

            img {
                width: 100%;
            }

            &:hover {
                border-radius: 0;
            }
        }
    }

    &_book {
        width: 100%;
        display: flex;
        padding-bottom: 50px;

        li {
            width: 15vw;
            aspect-ratio: 210/320;
            //border: 1px solid #f00;
            transition: transform 0.3s;
            position: relative;
            perspective: 1000px;

            &:nth-child(odd) {
                transform: rotate(5deg);
            }
            &:nth-child(even) {
                transform: rotate(-5deg);
            }

            &:hover {
                .front {
                    transform: rotateY(180deg);
                    opacity: 0;
                }
                .back {
                    transform: rotateY(0);
                    opacity: 1;
                }
            }

            .front,
            .back {
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-duration: 0.5s;
                transition-property: transform, opacity;
            }

            .back {
                border-radius: 1vw;
                overflow: hidden;
                transform: rotateY(-180deg);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                //display: none;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .front {
                border-radius: 1vw;
                background: #363845;
                padding: 1vw;

                box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
                position: relative;
                height: 100%;
                figure {
                    width: 30%;
                    margin: 3vw auto 1vw;
                    border-radius: 50%;
                    overflow: hidden;
                }
                p {
                    color: #fff;
                    font-size: 1vw;
                    line-height: 1.25;
                }
                b {
                }
            }
        }
    }
}
